@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Our Restaurant Rater is a web application powered by ASP>NET Web MVC that allows users to rate restaurants in the area for the benefit of other consumers looking for great places to dine or establishments to avoid.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Rate a restaurant by clicking on the <strong>Rate a Restaurant</strong> link in the navbar above or by clicking the link below.
        </p>
        <p><a class="btn btn-default" href="/Restaurant/Index">Rate a Restaurant &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get More Information</h2>
        <p>Learn more about Restaurant Rater here...</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>We'd Like to Hear From You!</h2>
        <p>Contact Restaurant Rater to provide feedback, whether it be comments about your favorite restaurant(s) or concerns about the way we rate restaurants.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>